#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <220>;
    quick-tap-ms = <175>;
};

&lt { quick-tap-ms = <150>; };

/ {
    chosen { zmk,matrix-transform = &imprint_function_row_full_bottom_row; };

    combos { compatible = "zmk,combos"; };

    behaviors {
        left_slow_home_row_mods: left_slow_home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_SLOW_HOME_ROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 54 55 56 57 58 59 65 66 67 68 69>;
        };

        right_slow_home_row_mods: right_slow_home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_SLOW_HOME_ROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 51 52 53 60 61 62 63 64>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        WINDOWS {
            bindings = <
&kp LG(LA(K))  &kp C_VOLUME_DOWN                    &kp C_VOLUME_UP  &kp C_PREV          &kp C_PLAY_PAUSE  &kp C_NEXT                       &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp LS(LG(S))     &mo 6           &mo 5                                  &kp C_AL_COFFEE
&kp GRAVE      &kp N1                               &kp N2           &kp N3              &kp N4            &kp N5                           &kp N6                &kp N7                &kp N8            &kp N9          &kp N0                                 &kp MINUS
&kp TAB        &kp B                                &kp L            &kp D               &kp C             &kp V                            &kp J                 &kp F                 &kp O             &kp U           &kp COMMA                              &kp EQUAL
&kp ESCAPE     &left_slow_home_row_mods LEFT_GUI N  &mt LEFT_ALT R   &mt LEFT_CONTROL T  &mt LEFT_SHIFT S  &kp G                            &kp Y                 &mt RIGHT_SHIFT H     &mt LCTRL A       &mt LEFT_ALT E  &right_slow_home_row_mods RIGHT_WIN I  &kp SLASH
&sk LSHFT      &kp X                                &kp Q            &kp M               &kp W             &kp Z                            &kp K                 &kp P                 &kp SINGLE_QUOTE  &kp SEMICOLON   &kp PERIOD                             &kp BACKSLASH
&kp LG(SPACE)  &kp LG(DOT)                          &kp LGUI         &kp LALT            &kp LEFT_CONTROL                                                         &kp LEFT              &kp DOWN          &kp UP_ARROW    &kp RIGHT                              &rgb_ug RGB_TOG
                                                                                         &lt 3 SPACE       &lt 4 BACKSPACE  &lt 8 ESCAPE    &mkp LCLK             &lt 4 ENTER           &lt 3 SPACE
                                                                                         &kp HOME          &kp END          &kp ESCAPE      &mkp RCLK             &kp CAPS              &caps_word
            >;
        };

        MAC {
            bindings = <
&kp LG(LS(M))  &trans             &trans            &trans  &trans        &trans                   &trans  &trans  &trans  &trans  &trans  &kp LC(LG(Q))
&trans         &trans             &trans            &trans  &trans        &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans             &trans            &trans  &trans        &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans             &trans            &trans  &trans        &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans             &trans            &trans  &trans        &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&kp LC(SPACE)  &kp LC(LG(SPACE))  &kp LEFT_CONTROL  &trans  &kp LEFT_GUI                                   &trans  &trans  &trans  &trans  &trans
                                                            &trans        &trans         &trans    &trans  &trans  &trans
                                                            &kp LG(LEFT)  &kp LG(RIGHT)  &trans    &trans  &trans  &trans
            >;
        };

        win_qwerty {
            bindings = <
&kp LG(LA(K))  &kp C_VOLUME_DOWN                    &kp C_VOLUME_UP  &kp C_PREV          &kp C_PLAY_PAUSE  &kp C_NEXT                    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp LS(LG(S))  &mo 6           &mo 5                                          &kp C_AL_COFFEE
&kp GRAVE      &kp N1                               &kp N2           &kp N3              &kp N4            &kp N5                        &kp N6                &kp N7                &kp N8         &kp N9          &kp N0                                         &kp MINUS
&kp TAB        &kp Q                                &kp W            &kp E               &kp R             &kp T                         &kp Y                 &kp U                 &kp I          &kp O           &kp P                                          &kp EQUAL
&kp ESCAPE     &left_slow_home_row_mods LEFT_GUI A  &mt LEFT_ALT S   &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G                         &kp H                 &mt RIGHT_SHIFT J     &mt LCTRL K    &mt LEFT_ALT L  &right_slow_home_row_mods RIGHT_WIN SEMICOLON  &kp SLASH
&sk LSHFT      &kp Z                                &kp X            &kp C               &kp V             &kp B                         &kp N                 &kp M                 &kp COMMA      &kp PERIOD      &kp QUESTION                                   &kp BACKSLASH
&kp LG(SPACE)  &kp LG(DOT)                          &kp LGUI         &kp LALT            &kp LEFT_CONTROL                                                      &kp LEFT              &kp DOWN       &kp UP_ARROW    &kp RIGHT                                      &rgb_ug RGB_TOG
                                                                                         &lt 3 SPACE       &lt 4 BACKSPACE  &kp PG_UP    &mkp LCLK             &lt 4 ENTER           &lt 3 SPACE
                                                                                         &kp HOME          &kp END          &kp PG_DN    &mkp RCLK             &kp CAPS              &caps_word
            >;
        };

        SYMBOLS {
            bindings = <
&kp F1  &kp F2        &kp F3         &kp F4                &kp F5               &kp F6               &kp F7         &kp F8                    &kp F9                     &kp F10                &kp F11  &kp F12
&trans  &trans        &trans         &trans                &trans               &trans               &trans         &kp LS(LT)                &kp LS(GREATER_THAN)       &trans                 &trans   &trans
&trans  &trans        &kp LESS_THAN  &kp LS(GREATER_THAN)  &kp LS(COLON)        &kp AMPS             &kp AT_SIGN    &kp LEFT_BRACKET          &kp RIGHT_BRACKET          &kp GRAVE              &trans   &trans
&trans  &kp QUESTION  &kp LS(MINUS)  &kp PLUS              &kp EQUAL            &kp PIPE             &kp SEMICOLON  &kp LS(LEFT_PARENTHESIS)  &kp LS(RIGHT_PARENTHESIS)  &kp LS(SQT)            &trans   &trans
&trans  &trans        &kp FSLH       &kp LS(STAR)          &kp LS(EXCLAMATION)  &kp CARET            &kp HASH       &kp LS(LEFT_BRACE)        &kp LS(RIGHT_BRACE)        &kp LS(DOUBLE_QUOTES)  &trans   &trans
&trans  &trans        &trans         &trans                &trans                                                   &trans                    &trans                     &trans                 &trans   &trans
                                                           &trans               &kp DEL    &trans    &trans         &trans                    &trans
                                                           &trans               &trans     &trans    &trans         &trans                    &trans
            >;
        };

        NAV {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans              &trans          &trans            &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans              &trans          &trans            &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp LC(LEFT_ARROW)  &kp LC(DOWN)    &kp LC(UP_ARROW)  &kp LC(RIGHT)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp LEFT            &kp DOWN_ARROW  &kp UP_ARROW      &kp RIGHT      &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp LA(LEFT)        &kp LA(DOWN)    &kp LA(UP_ARROW)  &kp LA(RIGHT)  &trans  &trans
&trans  &trans  &trans  &trans  &trans                                        &trans          &trans            &trans         &trans  &trans
                                &trans  &trans  &trans    &trans              &trans          &trans
                                &trans  &trans  &trans    &trans              &trans          &trans
            >;
        };

        BLUETOOTH {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans                                        &trans  &trans  &trans  &trans  &trans
                                                  &trans        &bt BT_CLR    &trans    &trans  &trans  &trans
                                                  &trans        &trans        &trans    &trans  &trans  &trans
            >;
        };

        SYSTEM {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans            &trans  &trans           &trans           &trans           &trans           &bootloader
&sys_reset   &to 0   &to 2   &to 1   &trans  &to 7             &trans  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &trans           &trans           &sys_reset
&trans       &trans  &trans  &trans  &trans  &trans            &trans  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &trans
&trans       &trans  &trans  &trans  &trans  &trans            &trans  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &trans
&trans       &trans  &trans  &trans  &trans  &trans            &trans  &trans           &trans           &trans           &trans           &trans
&trans       &trans  &trans  &trans  &trans                            &trans           &trans           &trans           &trans           &trans
                                     &trans  &trans  &trans    &trans  &trans           &trans
                                     &trans  &trans  &trans    &trans  &trans           &trans
            >;
        };

        TEST {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6            &kp N7  &kp N8  &kp N9  &kp N0  &kp A   &kp B
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6            &kp N7  &kp N8  &kp N9  &kp N0  &kp A   &kp B
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6            &kp N7  &kp N8  &kp N9  &kp N0  &kp A   &kp B
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6            &kp N7  &kp N8  &kp N9  &kp N0  &kp A   &kp B
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6            &kp N7  &kp N8  &kp N9  &kp N0  &kp A   &kp B
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5                            &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
                                &kp N1  &kp N2  &kp N3    &kp N4  &kp N5  &kp N6
                                &kp N1  &kp N2  &kp N3    &kp N4  &kp N5  &kp N6
            >;
        };

        NUMPAD {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans        &trans           &trans           &trans           &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans        &trans           &trans           &trans           &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp KP_MINUS  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_DIVIDE    &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp KP_PLUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &kp KP_ENTER  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans           &trans
&trans  &trans  &trans  &trans  &trans                                  &kp BACKSPACE    &kp KP_NUMBER_0  &kp KP_DOT       &trans           &trans
                                &trans  &trans  &trans    &trans        &trans           &trans
                                &trans  &trans  &trans    &trans        &trans           &trans
            >;
        };
    };
};

//left hand trackball configuration

&trackball_central_listener {
    input-processors =
        // activate layer 3 within 500ms of the trackball moving,,,,,,,,,,,,,,,
        // <&zip_temp_layer 3 500>;,,,,,,,,,,,,,,
        // <&zip_xy_scaler 1 16>,,,,,,,,,,,,,,,
        <&zip_xy_to_scroll_mapper>,
        <&zip_scroll_transform INPUT_TRANSFORM_X_INVERT>;

    mouser {
        layers = <3>;
        input-processors = <&zip_xy_scaler 1 1>;

        // process-next;,,,,
    };
};

// right hand trackball configuration

&trackball_peripheral_listener {
    input-processors =
        // activate layer 3 within 500ms of the trackball moving,,,,,,,,,,,,,,,
        // <&zip_temp_layer 3 500>;,,,,,,,,,,,,,
        <&zip_xy_scaler 1 1>;

    scroller {
        layers = <3>;
        input-processors =
            // <&zip_xy_scaler 1 16>,,,,,,,,,,,,,,,
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform INPUT_TRANSFORM_X_INVERT>;

        process-next;
    };
};
